.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
}
.title-cards h2{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
}
.card-list .card{
    position: relative;
}
.card-list .card p {
    margin-top: 5px;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    color: white;
}
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}
a {
    text-decoration: none;
    color: inherit;
}

a:visited,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
}

@media(max-width:800px){
    .title-cards{
        margin-top: 20px;
        margin-bottom: 0;

    }
    .title-cards h2{
        font-size: 20px;
    }
    .card-list img{
      width: 150px;
    }
    .card-list p{
      font-size: 12px;
    }
}
@media(max-width:500px) {
    .card-list img {
            width: 100px;
        }
    .title-cards h2 {
        font-size: 15px;
    }

    .card-list p {
        font-size: 10px;
    }
}